* {
    margin: 0; 
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 100vh;
    display: grid;
    place-items: center;
}
.header, .footer {
    display: flex;
    justify-content: center;

    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background: silver;
    padding-top: 5px;
    height: 45px;
    width: 100%;
    z-index: 1000;
}
.navbar a {
    position: relative;
    font-size: 22px;
    color: #424242;
    font-weight: 700;
    text-decoration: none;
    margin: 0 50px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #424242;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}
form {
    width: 100%;
    max-width: 30rem;
}
label,
input,
textarea, 
button {
    display: block;
}

input,
textarea,
button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
 input,
 textarea {
    margin-bottom: 1rem;
    color: rgb(44, 61, 66);
    background: gray;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #60aaff;
    box-shadow: 0 0 0 0.3125rem blue;
}
label {
    margin-bottom: 0.5rem;
}
textarea {
    min-height: 12.5rem;
    resize: vertical;
}
button {
    border: none;
    border-radius: 99px;
    cursor: pointer;
}
button:hover,
button:focus {
    outline: none;
    background-color: rgb(42, 42, 49);
}
button :disabled {
    cursor: not-allowed;
    background: gray;
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
    align-content: center;
    height: 80px;
    padding-top: 320px;
    padding-bottom: 50px;
    
}

